.grid{
    overflow-y: visible;
}

.grid-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-item-outer{
    margin: 10px;
    min-width: 300px;
    min-height: 200px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 4px;
}

.grid-item-outer:hover {
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.grid-item{
    margin: 10px;
    min-width: 300px;
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0072b08e;
    border-radius: 4px;
  }
  
  .grid-item:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }