.toolbar{
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
}

.nav-link{
    text-decoration: none;
    color: inherit;
    width: 30px;
    height: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    border-radius: 50%;
    background-color: #eeeeee;
    color: #666666;
    padding: 25px !important;
    transition: 0.5s;
}

.nav-link-details{
    display: none;
}

.nav-link:hover .nav-link-details{
    display: inline;
    margin-right: 10px;
}
.nav-link:hover{
    background-color: #72b626;
    border-radius: 100px;
    padding: 25px 70px !important;
    font-weight: bold;
    color: #ffffff;
    transition: 0.5s;
}

.active-nav-link{
    background-color: #72b626;
    color: #ffffff;
}

.fade{
    transition: 0.3s;
}

@media only screen and (max-width: 600px) {
    .toolbar{
        display: none;
    }
}